{
	order webdav before file_server
}

(verify_jwt) {
	reverse_proxy localhost:7070 {
		method GET
		rewrite /verify
		header_up X-Forwarded-Method {method}
		header_up X-Forwarded-Uri {uri}
		header_up Authorization {http.request.header.Authorization}
		@good status 2xx
		handle_response @good {
			request_header -Referer
		}
		handle_response {
			copy_response
		}
	}
}

*:2013 {
	root data
	encode zstd gzip
	@dav {
		path /dav/*
	}
	rewrite /dav /dav/
	route @dav {
		uri strip_prefix /dav
		file_server browse
	}
}

*:2014 {
	encode zstd gzip
	root data
	@dav {
		path /dav/*
	}
	route @dav {
		import verify_jwt
		webdav {
			prefix /dav
		}
	}
}

*:2015 {
	root data
	encode zstd gzip
	templates

	import verify_jwt
	file_server browse
}

*:2016 {
	encode zstd gzip
	root data
	@api {
		header API true
	}
	@dav {
		path /dav/*
	}
	route @dav {
		import verify_jwt
		webdav {
			prefix /dav
		}
	}
	reverse_proxy @api localhost:32088
	reverse_proxy localhost:8080
}
